{% extends 'cardManager/base.html' %}
{% load static  %}
{% block title %}
	Activating your Card | TC Digital
{% endblock %}
{% block opener %}
Activating card {{ card.token }}
{% endblock opener %}
{% block content %}
<b>Front:</b>
<img src="/media/{{card.front_design}}" alt="">
<b>Rear:</b>
<img src="/media/{{card.rear_design}}" alt="">
<button id="activateCardBtn">Claim this card</button>
{% endblock %}
{% block extra_scripts %}
    <script src="https://js.stripe.com/v3/"></script>
	<script src="{% static 'cardManager/js/payment_integration.js' %}"></script>
{% endblock %}