{% load static %}
{% now "U" as tz %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
	<link rel="stylesheet" href="{% static "css/base.css" %}?v={{ tz }}">
	<link rel="stylesheet" href="{% static "css/cards.css" %}?v={{ tz }}">
	<link rel="stylesheet" href="{% static "css/forms.css" %}?v={{ tz }}">
	<link rel="icon" type="image/png" href="{% static "imgs/logo.png" %}">
	<!-- I'll Eventually find the Tailwind Link
	-->
	{% block extra_links %}
	{% endblock %}
	{% block extra_head_scripts %}
	{% endblock %}
	<title>
		{% block title %} 
			TC Digital
		{% endblock %}
	</title>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-[100vh] bkg-gradient text-white">
	<nav class="w-[100vw] py-6 px-9 flex justify-between items-center">
		<div class="flex gap-2 items-center" name="icon-and-navbar-header">
			<img src="{% static 'imgs/logo.png' %}" alt="" class="w-[30px] h-[30px] rounded">
			{% if request.user.is_authenticated %}
				<a href="{% url 'dashboard_view' %}" class="text-white">
					<span>{{ request.user }}</span>
				</a>
			{% else %}
				<a href="{% url 'homepage_view' %}" class="text-white">
					<span>TC Digital</span>
				</a>
			{% endif %}
		</div>
		<div class="flex gap-4" name="navbar-links">
			{% if request.user.is_authenticated %}
	            {% if user.profile %}
	           		<a href="{{ user.profile.get_absolute_url }}">
	            		View my Profile
	            	</a>
	            	<a href="{{ user.profile.get_update_url }}">
	            		Edit Profile
	            	</a>
	            {% else %}
	            	<a href="{% url 'profile_create_view' %}">Create Profile</a>
	            {% endif %}
		        <a href="{% url 'dashboard_view' %}">Dashboard</a>
		        <a href="{% url 'stats_view' %}">Reports</a>
		        <a href="{% url 'api_daily_usage_view' %}">Api Json</a>
		        <a href="{% url 'daily_usage_graph_png_view' %}">Api Bar Graph</a>
		        <form action="{% url 'logout_view' %}" method="post">
		        	{% csrf_token %}
		        	<input type="submit" value="Logout"/>
		        </form>
	        {% else %}
	        	<a href="{% url 'login_view' %}">Login</a>
	        	<a href="{% url 'signup_view' %}">Create Account</a>
	        {% endif %}

	    </div>
	            
			
	</nav>
	<div class="w-full py-18 px-6">
		{% block hero_header %}

		{% endblock %}
	</div>
	<div class="@container px-9">
		{% block content %}

		{% endblock %}
	</div>
	{% block extra_scripts %}
	{% endblock %}
	
</body>
</html>