{% extends 'cardManager/base.html' %}
{% load static  %}
{% block title %}
	Admin Tools
{% endblock %}

{% block hero_header %}
<div class="flex flex-col md:flex-row gap-12 items-center">
    <h2 class="text-3xl md:text-4xl capitalize font-bold ">
        <span> 
            {% if card.owner.first_name %}
                {{ card.owner.first_name }}'s
            {% else %}
                {{ card.owner.usernames }}'s
            {% endif %}
        </span>
        <span class="bg-[var(--color-main)] text-transparent text-nowrap skew-3 italic font-bold" style="background-clip:text;transform:skewX(50deg)">
            {% if card.alias %}
                {{ card.alias }}
                {% if "card" not in card.alias|lower %} Card{% endif %}
            {% else %}
                Card
            {% endif %} 
        </span>
    </h2>
    <div id="card-scene" class="relative w-full aspect-[8/5] perspective-[2000px] touch-none" style="">
        <div id="card-designs" class="w-full h-fit grid place-items-center" style="transform-style: preserve-3d;
  transition: transform 0.3s ease; transform:rotateY(0deg)">
            <img 
            class="w-[20rem]  aspect-[8/5] rounded-sm absolute top-0 translate-z-[0.5px]" 
            src="
            /media/{{ card.design.front_design }} 
            "/>
            <div class="absolute top-0 translate-z-[-0.5px]" style="transform:rotateY(180deg)">
                <img 
                class="w-[20rem]  aspect-[8/5] rounded-sm relative " 
                src="
                /media/{{ card.design.rear_design }} 
                "/>
                {% if qr_svg %}
                    <div class="flex items-center justify-center w-full h-full absolute top-0 bottom-0 ">
                        <span class="block bg-white p-2 rounded-xl w-fit">
                            {{ qr_svg }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 items-start text-left w-full">
        
        <div class="text-start text-white grid grid-cols-[auto_auto] gap-x-4 gap-y-2 w-fit">
            {% with cards=card.usage.all|dictsort:"date_used"|last %}
                <span class="text-end text-grey opacity-70">Total Uses</span>
                <span> {{ card.usage.count }}</span>
                <span class="text-end text-grey opacity-70">Last Used</span>
                <span> {{ cards.date_used }}</span> 
                <span class="text-end text-grey opacity-70">QR URL</span>
                {% if "https://" in generated_url %}
                    <span class="truncate">{{ generated_url|slice:"8:" }}</span>
                {% elif "http://" in generated_url %}
                    <span class="truncate">{{ generated_url|slice:"7:" }}</span>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

{% endblock %}

{% block action_tray %}
	<div class="p-6 w-full *w-full flex flex-col gap-4">
        {% if qr_svg %}
        <a class="text-[var(--color-main)]" id="qr_anchor" download><button class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4 w-full">Download QR</button></a>
        {% endif %}
        <a 
            class="bg-[var(--color-main)] w-full text-center py-6 rounded-md font-bold instructionNumber text-lg"
            href="{% if card.design.front_design %}
                {{ card.design.front_design.url }} 
                {% endif %}"
            download
         >
            Download Design
        </a>
	</div>
{% endblock %}

{% block extra_scripts %}
    {% if qr_svg %}
    <script type="text/javascript">
    const svgData = "{{ qr_svg|escapejs }}";
    const qr_anchor = document.querySelector("#qr_anchor");

    qr_anchor.addEventListener('click', () => {
        /* Create a temporary url for the api's qr code   */
        let qr = new Blob([svgData], {type: 'image/svg+xml' });
        let blobUrl = URL.createObjectURL(qr);

        /* Create an invisible anchor pointing to that url  */
        let temp_anchor = document.createElement("a");
        temp_anchor.href = blobUrl;
        temp_anchor.download = "{{ card.owner.first_name|escapejs }}_qr_code.svg";
        /* And trigger the invisible anchor */
        temp_anchor.click();
        /* Remove temporary URL */
        setTimeout(() => URL.revokeObjectURL(blobUrl), 100);
    });
    {% endif %}
    </script>
    <script src="{% static 'js/rotating_card.js'%}"></script>
{% endblock %}