{% extends 'cardManager/base.html' %}
{% block opener %}
Updating Card
{% endblock %}
{% block content %}
	<div class="flex flex-row justify-center gap-2">
		<img 
			class="w-[16rem] h-[10rem] rounded-sm"
			src="{{ card.design.front_design.url }}"
		/>
	</div>
	<form method="post">
		{% csrf_token %}
		<div class="flex flex-col gap-2">
	    	<label for="id_alias" class="text-bold text-lg">Alias</label>
	    	<input type="text" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Alias" id="id_alias" name="alias"/>
    	</div>	
    	<div class="flex flex-col gap-2">
	    	<label for="id_reroute_url" class="text-bold text-lg">Redirect URL</label>
	    	<p class="error text-[var(--color-danger)] text-sm"></p>
	    	<input type="url" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Url" id="id_reroute_url" name="reroute_url">
    	</div>
    	<div class="flex flex-col gap-2">
	    	<label for="id_show_profile" class="text-bold text-lg">Show Profile</label>
	    	<p class="error text-[var(--color-danger)] text-sm"></p>
	    	<div class="flex flex-row gap-2">
		    	<input type="radio" 
			    	class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md" 
			    	value="True" id="yes" 
			    	name="show_profile" 
			    	{% if form.cleaned_data.show_profiile %} checked {% endif %}
			    >
		    	<input type="radio" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md"  value="False" id="no" name="show_profile" {% if not form.cleaned_data.show_profiile %} checked {% endif %}>
	    	</div>
    	</div>
		<input type="submit" value="Update Card">
	</form>
{% endblock %}