{% extends 'cardManager/base.html' %}
{% load static %}
{% block opener %}
Updating Card
{% endblock %}
{% block hero_header %}
<div class="flex flex-row justify-center gap-2">
	<img 
		class="w-[16rem] h-[10rem] rounded-sm md:w-[20rem] md:h-[13rem]"
		src="{{ card.design.front_design.url }}"
	/>
</div>
{% endblock %}
{% block content %}
	<form method="post" class="flex m-auto flex-col gap-7 md:w-3/4 lg:w-2/5">
		{% csrf_token %}
		<div class="flex flex-col gap-1">
	    	<label for="id_alias" class="text-bold text-lg">Card Name</label>
	    	<input 
		    	type="text" 
		    	class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" 
		    	placeholder="ex: Main Card" 
		    	id="id_alias" 
		    	name="alias" 
		    	maxlength="{{ form.fields.alias.max_length }}" 
		    	{% if card.alias %} value="{{ card.alias }}" {% endif %}
		    	{% if form.alias.errors %} style="border-color:var(--color-danger)" {% endif %}
		    	required
	    	/>
	    	{% if form.alias.errors %}
	    		<p class="text-danger text-sm" >{{ form.alias.errors }}</p>
	    	{% endif %}
    	</div>
    	<div class="flex flex-col gap-1">
	    	<label for="id_show_profile" class="text-bold text-lg">Show Profile on Tap</label>
	    	<div class="flex flex-row gap-3">
		    	<input 
		    		type="radio"
		    		onclick="toggleRedirectDiv(this.id)" 
			    	class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md" 
			    	value="True" 
			    	id="yes" 
			    	name="show_profile" 
			    	{% if hide_redirect_div  or form.cleaned_data.show_profile %} checked {% endif %}
			    >
		    	<input type="radio" onclick="toggleRedirectDiv(this.id)" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md"  value="False" id="no" name="show_profile" {% if not hide_redirect_div and not form.cleaned_data.show_profile %} checked {% endif %}>
	    	</div>
    	</div>
    	<div class="flex flex-col gap-1 dimmable {% if hide_redirect_div %} dim-out {% endif %}" id="redirectDiv">
	    	<label for="id_reroute_url" class="text-bold text-lg">External Link</label>
	    	<input 
		    	type="url" 
		    	class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" 
		    	placeholder="ex: https://instagram.com" 
		    	id="id_reroute_url" 
		    	name="reroute_url"
		    	maxlength="{{ form.fields.reroute_url.max_length }}"
		    	{% if card.reroute_url %} value="{{ card.reroute_url }}" {% endif %}
		    	{% if form.reroute_url.errors %} style="border-color:var(--color-danger)" {% endif %}
	    	/>
	    	{% if form.reroute_url.errors %}
	    		<p class="text-danger text-sm" >{{ form.reroute_url.errors }}</p>
	    	{% endif %}
    	</div>
		<input class="bg-[var(--color-main)] rounded-md py-4 mt-9" type="submit" value="Save Changes">
	</form>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/forms.js' %}?v={{ tz }}"></script>
{% endblock %}