{% extends 'cardManager/base.html'%}
{% block title %}
	Dashboard
{% endblock %}
{% block hero_text %}
	Hello {{ request.user }}
{% endblock %}
{% block content %}
<div class="flex flex-col gap-18">

	<!-- Admins can see Pending Orders, All Claimed Cards-->		
	{% if request.user.is_superuser %}

		<!--  Pending Orders -->
		{% include "cardManager/components/dataSection.html" with header="Pending orders" component="cardManager/components/pending_orders.html" list=pending_orders %}
		
		<!--  Claimed Cards -->
		{% include "cardManager/components/dataSection.html" with header="Claimed Cards" cols="1fr_1fr_1fr_1fr" component="cardManager/components/user_cards_list.html" list=claimed_cards %}
		
	{% endif %}
		
	<!--  Recent Activity Cards -->
	{% include "cardManager/components/dataSection.html" with header="Recent Activity"  component="cardManager/components/card_activity.html" list=recent_activities %}
	
	<!--  User Cards -->
	{% include "cardManager/components/dataSection.html" with header="My Cards"  cols="1fr_1fr_1fr_1fr"  component="cardManager/components/user_cards_list.html" list=user_cards %}
	
	<!--  Arriving Soon -->
	{% include "cardManager/components/dataSection.html" with header="Arriving Soon" component="cardManager/components/requested_card_list.html" list=requested_cards %}
	
</div>
{% endblock %}