{% extends 'cardManager/base.html'%}
{% block title %}
	Dashboard
{% endblock %}
{% block opener %}
	User: {{ request.user }}
{% endblock %}
{% block content %}
<div class="flex flex-col gap-4 mb-20">
	<h2 class="text-xl">Pending Orders</h2>
	{% for order in pending_orders %}
		<div class="flex flex-row gap-3">
			<img class="w-[8rem] h-[5rem] rounded-sm" src="
			{% if order.preset_design %}
				{{ order.preset_design.front_design.url }} 
			{% elif order.custom_design %}
				{{ order.custom_design.url }}
			{% endif %}"/>
			<div>
				<p class="font-bold">{{ order.owner }}</p>
				<p class="text-darkgrey"> wants {% if order.card_qty == 1 %}a card{% else %} {{ order.card_qty }} cards {%endif%} </p>
				<a href="{{ order.get_absolute_url }}" class="text-(--color-main)">View Details</a>
			</div>
		</div>
		{% empty %}
		<p>Looks like there aren't any orders yet.</p>
	{% endfor %}
</div>
	<div class="flex flex-col gap-4 mb-20">
		<h2 class="text-xl">My Cards</h2>
		{% for card_request in requested_cards %}
		<div class="flex flex-row gap-3 opacity-[0.3]">
				<img 
					class="w-[8rem] h-[5rem] rounded-sm" 
					src="
					{% if card_request.preset_design %}
						{{ card_request.preset_design.front_design.url }} 
					{% elif card_request.custom_design %}
						{{ card_request.custom_design.url }}
					{% endif %}"/>
			
			<div>
			<p class="font-bold">On it's way to you</p>
			<p class="text-darkgrey">Ordered: {{ card_request.date_created|date:"m/j/y"}}</p>
			</div>
			
		</div>
		{% endfor %}
	{% for card in user_cards %}
		<div class="flex flex-row gap-3">
			<a href="{{ card.get_absolute_url }}">
				<img class="w-[8rem] h-[5rem] rounded-sm" src="{{ card.design.front_design.url }}"/>
			</a>
			<div>
				{% if card.alias %}
					<p class="font-bold">{{ card.alias }}</p>
					{% else %}
					<p>{{ card }}</p>
				{% endif %}
				{% if card.show_profile %}
					<p class="text-darkgrey">Points to your profile</p>
				{% elif not card.show_profile and card.reroute_url %}
					<p class="text-darkgrey">{{ card.reroute_url }}</p>
				{% else %}
				{% endif %}
				<a href="{{ card.get_update_url }}" class="text-(--color-main)">Edit Card</a>
			</div>
		</div>
		{% empty %}
		<p>Looks like there aren't any cards here.</p>
	{% endfor %}
	
	</div>
		<div class="activity flex flex-col">
			<h2 class="text-xl">Recent Activity</h2>
			{% for activity in recent_activities%}
			<div class="flex flex-row items-center gap-2">
				<div>
					<img src="{{ activity.card.design.front_design.url }}" class="w-[3rem] h-[1.7rem] rounded-sm">
				</div>
				<div class="flex flex-col mt-2">
					{% if activity.card.alias %}
					<p>{{ activity.card.alias }} was tapped</p>
					{% else %}
					<p>{{ activity.card }} was tapped</p>
				{% endif %}
					<p class="text-xs">{{ activity.date_used|date:"h:i a m/j/y" }} </p>
				</div>
			</div>
			{% empty %}
				<p>No recent activity yet</p>
			{% endfor %}
		</div>
	
{% endblock %}