{% extends 'cardManager/base.html'%}
{% block title %}
	Dashboard
{% endblock %}
{% block hero_text %}
	Hello {{ request.user }}
{% endblock %}
{% block content %}
<div class="flex flex-col gap-18">
	
	<!-- Admins can see Pending Orders, All Claimed Cards-->		
	{% if request.user.is_superuser %}

	<!--  Pending Orders -->
		<div class="flex flex-col gap-6">
			<div class="flex flex-row gap-4 items-center ">
				<h2 class="text-2xl">Pending Orders</h2>
				<span class="bg-[var(--color-main)] text-bold py-1 px-3 text-center rounded-full ">{{ pending_orders|length }}</span>
			</div>
			<div class="w-full grid grid-cols-1 gap-4  md:grid-cols-3">
				{% include "cardManager/components/pending_orders.html" %}
			</div>
		</div>

	<!--  Claimed Cards -->
		<div class="flex flex-col gap-6">
			<div class="flex flex-row gap-4 items-center ">
				<h2 class="text-2xl">Claimed Cards</h2>
				<span class="bg-[var(--color-main)] text-bold py-1 px-3 text-center rounded-full ">{{ claimed_cards_list|length }}</span>
			</div>
			<div class="w-full grid grid-cols-1 gap-4  md:grid-cols-3">
				{% include "cardManager/components/user_cards_list.html" with card_list=claimed_cards%}
			</div>
		</div>
	{% endif %}


	<div class="flex flex-col gap-6">
		<h2 class="text-2xl ">Recent Activity</h2>
		<div class="activity flex flex-col gap-4  md:grid md:grid-cols-[1fr_1fr] xl:grid-cols-[1fr_1fr_1fr]">
			{% include "cardManager/components/card_activity.html" %}
		</div>
	</div>

	<div class="flex flex-col gap-6">

		<div class="flex flex-row gap-4 items-center">
			<h2 class="text-2xl">My Cards</h2>
			<span class="bg-[var(--color-main)] text-bold py-1 px-3 text-center rounded-full ">{{ user_cards|length }}</span>
		</div>
		<div id="user-cards" class="flex flex-wrap flex-col gap-6  md:m-auto md:grid md:grid-cols-[1fr_1fr_1fr] md:gap-4">
		{% include "cardManager/components/user_cards_list.html" with card_list=user_cards %}
		</div>
	</div>
	<div class="flex flex-col gap-6">
		<div class="flex flex-row gap-4 items-center ">
			<h2 class="text-2xl">Arriving Soon</h2>
			<span class="bg-[var(--color-main)] text-bold py-1 px-3 text-center rounded-full ">{{ requested_cards|length }}</span>
		</div>
		{% include "cardManager/components/requested_card_list.html" %}
	</div>
	
</div>
{% endblock %}