{% extends 'cardManager/base.html' %}

{% block hero_header %}
Welcome Back
{% endblock%}
{% block content %}
<div class="">
<form action="" method="post" class="flex flex-col gap-6">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
    	<label for="id_email" class="text-bold text-lg">Email</label>
    	<p class="error text-[var(--color-danger)] text-sm"></p>
    	<input type="email" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter email" id="id_email" name="email" required>
    </div>
    <div class="flex flex-col gap-2">
    	<label for="id_pass" class="text-bold text-lg">Password</label>
    	<p class="error text-[var(--color-danger)] text-sm"></p>
    	<input type="text" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Password" id="id_password" name="password" required>
    </div>
    <!-- Im new here button logic--> 
    {% if nextUrlParam %}
    <a href="{% url 'register_view' %}?next={{nextUrlParam}}" class="text-center text-md text-[var(--color-main)] mt-8">I'm new here</a>
    {% else %}
    <a href="{% url 'register_view' %}" class="text-center text-md text-[var(--color-main)] mt-8">I'm new here</a>
    {% endif %}

    <button class="bg-[var(--color-main)] w-full text-center py-4 rounded-md" type="submit">
    	Login
    </button>
</form>
	

{% endblock %}