
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% if profile.banner_photo %}
		<img src="/media/{{ profile.banner_photo }}" alt="">
	{% endif %}
	<h2>Profile View: {{ profile.name }}</h2>
	{% if profile.profile_photo %}
		<img src="/media/{{ profile.profile_photo }}" alt="">
	{% endif %}
	{% if profile.email %}
		<p>{{ profile.email }}</p>
	{% endif %}
	{% if profile.linked_in %}
		<p>{{ profile.linked_in }}</p>
	{% endif %}
	{% if profile.cell %}
		<p>{{ profile.cell }}</p>
	{% endif %}
	{% if profile.whatsapp %}
		<p>{{ profile.whatsapp }}</p>
	{% endif %}
	{% if profile.snapchat %}
		<p>{{ profile.snapchat }}</p>
	{% endif %}
	{% if profile.instagram %}
		<p>{{ profile.instagram }}</p>
	{% endif %}
</body>
</html>