{% extends 'cardManager/base.html' %}
{% block content %}
<form  method="post" class="flex m-auto flex-col gap-7 md:w-3/4 lg:w-2/5">
	{% csrf_token %}
    {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="text-danger text-md" >{{ error }}</p>
            {% endfor %}
        {% endif %}
	<div class="flex flex-col gap-2">
    	<label for="id_firstname" class="text-bold text-lg">Firstname</label>
    	<p class="error text-[var(--color-danger)] text-sm">{{ form.first_name.errors }}</p>
    	<input type="text" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Firstname" id="id_firstname" name="first_name" required>
    </div>
    <div class="flex flex-col gap-2">
    	<label for="id_lastname" class="text-bold text-lg">Lastname</label>
    	<p class="error text-[var(--color-danger)] text-sm">{{ form.last_name.errors }}</p>
    	<input type="text" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Lastname" id="id_lastname" name="last_name" required>
    </div>
	<div class="flex flex-col gap-2">
    	<label for="id_username" class="text-bold text-lg">Username</label>
    	<p class="error text-[var(--color-danger)] text-sm">{{ form.username.errors }}</p>
    	<input type="text" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Username" id="id_username" name="username" required>
    </div>
    <div class="flex flex-col gap-2">
    	<label for="id_email" class="text-bold text-lg">Email</label>
    	<p class="error text-[var(--color-danger)] text-sm">{{ form.email.errors }}</p>
    	<input type="email" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Email" id="id_email" name="email" required>
    </div>
    <div class="flex flex-col gap-2">
    	<label for="id_password1" class="text-bold text-lg">Password</label>
    	<p class="error text-[var(--color-danger)] text-sm">{{ form.password1.errors }}</p>
    	<input type="password" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Enter Password" id="id_password1" name="password1" required>
    </div>
    <div class="flex flex-col gap-2">
        <label for="id_password2" class="text-bold text-lg">Confirm Password</label>
        <p class="error text-[var(--color-danger)] text-sm">{{ form.password2.errors }}</p>
        <input type="password" class="bg-[var(--color-input-bkg)] border-solid border-[1px] border-[var(--color-input-border)] rounded-md p-4" placeholder="Confirm Password" id="id_password2" name="password2" required>
    </div>
	{% if nextUrlParam %}
    <a href="{% url 'login_view' %}?next={{nextUrlParam}}" class="text-center text-md text-[var(--color-main)] mt-8">I already have an account</a>
    {% else %}
    <a href="{% url 'login_view' %}" class="text-center text-md text-[var(--color-main)] mt-8">I already have an account</a>
    {% endif %}
	<button class="bg-[var(--color-main)] w-full text-center py-4 rounded-md" type="submit">
    	Sign up
    </button>
</form>
	

{% endblock %}