{% extends 'cardManager/base.html'%}
{% block title %}
	Stats
{% endblock %}
{% block content %}
    <div class="flex flex-row gap-4 mb-10 text-white">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl">{{ n_taps }}</h2>
            <p class="text-sm">Cards Tapped</p>
    
        </div>
        <div class="flex flex-col gap-2 text-white">
            <h2 class="text-xl">{{ n_users }}</h2>
            <p class="text-sm">Total Users</p>
    
        </div>
        <div class="flex flex-col gap-2 text-white">
            <h2 class="text-xl">{{ n_cards_claimed }}</h2>
            <p class="text-sm">Cards Claimed</p>
    
        </div>
    </div>
    
		<div class="activity flex flex-col">
			<h2 class="text-xl">Designs</h2>
			{% for activity in recent_activities%}
			<div class="flex flex-row items-center gap-2">
				<div>
					<img src="{{ activity.card.design.front_design.url }}" class="w-[3rem] h-[1.7rem] rounded-sm">
				</div>
				<div class="flex flex-col mt-2">
					{% if activity.card.alias %}
					<p>{{ activity.card.alias }} was tapped</p>
					{% else %}
					<p>{{ activity.card }} was tapped</p>
				{% endif %}
					<p class="text-xs">{{ activity.date_used|date:"h:i a m/j/y" }} </p>
				</div>
			</div>
			{% empty %}
				<p>No recent activity yet</p>
			{% endfor %}
		</div>
	
{% endblock %}