{% extends 'cardManager/base.html'%}
{% block title %}
	Stats
{% endblock %}
{% block content %}
    
    <div class="flex flex-row gap-4 mb-10 text-white">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl">{{ n_taps }}</h2>
            <p class="text-sm">Taps</p>
    
        </div>
        <div class="flex flex-col gap-2 text-white">
            <h2 class="text-xl">{{ n_users }}</h2>
            <p class="text-sm">Owners</p>
    
        </div>
        <div class="flex flex-col gap-2 text-white">
            <h2 class="text-xl">{{ n_cards_claimed }}</h2>
            <p class="text-sm">Cards Claimed</p>
    
        </div>
    </div>
    
		<div class=" flex flex-col text-white mb-10">
			<h2 class="text-xl">Leaderboard</h2>
            <table class="mt-2">
                <thead>
                    <tr>
                        <th></th>
                        <th>Owner</th>
                        <th># Taps</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_tap in user_taps %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ user_tap.user }}</td>
                        <td>{{ user_tap.n_card_taps }}</td>
                    </tr>
                    {% empty %}
				    <tr>
                        <td colspan="3">No users yet</td>
                    </tr>
			        {% endfor %}
                </tbody>
            </table> 
			
		</div>
		<div class=" flex flex-col text-white">
			<h2 class="text-xl">Design Usage</h2>
			<table class="mt-2">
                <thead>
                    <tr>
                        <th></th>
                        <th>Design</th>
                        <th># Uses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for design_dict in design_usage %}
                    <tr>
                        <td>
                            <img src="{{ design_dict.design.front_design.url }}" class="w-[3rem] h-[1.7rem] rounded-sm">
                        </td>
                        <td>{{ design_dict.design }}</td>
                        <td>{{ design_dict.n_uses }}</td>
                    </tr>
                    {% empty %}
				    <tr>
                        <td colspan="3">No users yet</td>
                    </tr>
			        {% endfor %}
                </tbody>
            </table> 
		</div>
	
{% endblock %}