{% for card in card_list %}
			<div class="flex flex-row items-center gap-4 ">
				<a href="{{ card.get_update_url }}" class="relative md-card can-expand rounded-md w-full h-full bg-[url('{{ card.design.front_design.url }}')]">
				
					<div class="hidden md:flex justify-center card-overlay w-full h-full absolute flex-col items-center">
						{% if card.alias %}
							<p class="font-bold text-lg">{{ card.alias }}</p>
							{% else %}
							<p class="font-bold text-lg">{{ card }}</p>
						{% endif %}
						{% if card.show_profile %}
							<p class="text-darkgrey">Points to your profile</p>
						{% elif not card.show_profile and card.reroute_url %}
							<p class="text-darkgrey">{{ card.reroute_url }}</p>
						{% else %}
						{% endif %}
					</div>
				</a>
				<div class="md:hidden">
					{% if card.alias %}
						<p class="font-bold text-lg">{{ card.alias }}</p>
						{% else %}
						<p class="font-bold text-lg">{{ card }}</p>
					{% endif %}
					{% if card.show_profile %}
						<p class="text-darkgrey">Points to your profile</p>
					{% elif not card.show_profile and card.reroute_url %}
						<p class="text-darkgrey">{{ card.reroute_url }}</p>
					{% else %}
					{% endif %}
					<a href="{{ card.get_update_url }}" class="text-(--color-main)">Edit</a>
				</div>
			</div>
			{% empty %}
			<p>Looks like there aren't any cards here.</p>
		{% endfor %}