:root{
			--color-main:#0091CA;
			--color-main-dark:#010a0e;
			--color-secondary:;
			--color-secondary-dark:;
			--color-input-bkg:#081b2b66;
			--color-danger:red;
			--color-input-border:#1f719340;
			--color-contrast-container:#151c3057;
			--color-bkg:#010a0e;
			--color-bkg-transparent:#010a0ebb;
}
.bkg-gradient {
	background:var(--color-bkg);
}
table{
	max-width: 450px;
	table-layout: fixed;
	border-radius: 0.4rem;
	td:not(:first-child){
		font-weight:100
	}
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-input-bkg);
  margin: 0;
  height: 3rem;
  /*Let make them fill the parent div.flex */
  flex-grow: 1;
  display:flex;
  justify-content: center;
  align-items:center;
  color:white;

  &:before {
  	display:grid;
	place-content: center;
	width:100%;
	height:100%;
	border-radius:var(--radius-md);
  }
  &#no:before { content: "No" }
  &#yes:before { content: "Yes" }
  &:checked {
	background-color:var(--color-main);
  	border:3px solid var(--color-main);
  }
  &:checked:before {
  	border:3px solid var(--color-input-bkg);
  }

}
input[type="radio"]#no:before {
  
  
  
}
input[type="radio"]#yes:before {
	
}
input::placeholder {
	color: grey;
	font-style: italic;
}