

 .card-circle, table.card-table, .cards-sm .card.flex-col{
    background-color: var(--color-contrast-container);
}

table.card-table {
    td,th {
        padding:10px
    }
    thead tr {
        text-align:left;
        color:var(--color-main);
        * {
            font-weight:300;
        }
    }
    tbody tr td:first-child{
        text-align:center;

        * {
            margin:auto
        }
    }
    thead tr:first-child{
        border-bottom: 3px solid #010a0e;
    }
}
.card-circle {
    border-radius: 50%;
    p {
        background-color: var(--color-bkg-transparent);
    }
}
/* 

Small Cards with <h2> and <p> elements.
<h2> - Data Value
<p> - Data Label 

*/
.cards-sm{
    
    .card.flex-col{
        flex: 1 0;
        padding:1rem;
        flex-direction:column-reverse;

        /*This should get the users attention */
        border-left:4px solid var(--color-main);

        /* Data Label*/
        h2{
        }
        
        /* Data Value*/
        p{
            color:var(--color-main)

        }
    }
}


.flat-spinning-card {
    animation: spin-card 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform:rotateX(90deg) rotateZ(0deg) ;
}

@keyframes spin-card {
    from{
        transform:rotateX(90deg) rotateZ(0deg)
    } 
    to{
        transform:rotateX(0deg) rotateZ(360deg);
    }
    
}
@media screen and (max-width: 530px) {
    .cards-sm{
        flex-direction: column;
        .card.flex-col{
            
    
            /* Data Label*/
            h2{
            }
            
            /* Data Value*/
            p{
    
            }
        }
    }
}