 .slideTapPhone {
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: 999;
  animation: slideTapPhone 3.3s ease-in-out forwards;
  -webkit-animation: slideTapPhone 2s ease-in-out forwards;
  -moz-animation: slideTapPhone 3.3s ease-in-out forwards;
  
  & #demo-screen {
    /* Reveal the phone screen 200ms after the tap takes place */
    animation: revealScreen 0.8s ease-in forwards;
    animation-delay: 2s;
    
  }

  & #demo-screen-content {
    /* Reveal the contents of the phone screen demo screen appears */
    animation: reveal 0.8s ease-in forwards;
    animation-delay: 2.4s;

  }
  


}
/* 
The phone demo exists in the same section as the card visual. 
*/
section:has(.slideTapPhone) {
  
  /* I want to logo svg to light up when the phone presses downward on the card */
  & .livenCard svg {
    animation: brightenLogo 1s ease-in-out forwards;
    animation-delay: 1s;
  }

  /* And tilt the card downward when the phone presses it */
  & .livenCard {
    animation: tiltDown 2s ease-in-out ;
    animation-delay: 1.6s;
  }
}


@keyframes slideTapPhone {
  0%{
    transform: translateY(0rem) rotateX(0deg) scale(1);
    
  }
  20%{
    /* move up */
    transform: translateY(-10rem) rotateX(0deg) scale(1);
  }
  50%{
    /* downward tilt motion */
    transform: translateY(-10rem) rotateX(-15deg) scale(0.99);
  }
  80%{
    /* reset back to move up */
    transform: translateY(-10rem) rotateX(0deg) scale(1);
  }
  100%{
    /* move down a little */
    transform: translateY(-5rem) rotateX(0deg) scale(1);
  }
}

@keyframes revealScreen {
  0% {
    background: var(--color-bkg)

  }
    100% {
      background: var(--color-teal);
    }
}

@keyframes reveal {
  from{ opacity:0}
  to{opacity:1}
}

@keyframes tiltDown {
  0%{ transform:rotateX(0deg)}
  50%{ transform:rotateX(-15deg)}
  100%{ transform:rotateX(0deg)}
}

@keyframes brightenLogo {
  from{fill:white}
  to{fill:var(--color-teal)}
}