#banner_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.26) 40%);
}

#socialLinks {
    a {
        padding: 0.25rem;
        border: 1px inset #5b81af;
        border-radius: 50%;
    }
}