{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyrese Cook: The People's Digital Craftsman</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="w-[100vw] h-[100vh] ">
    <main
        class="md:w-3/4 md:mx-auto md:grid md:grid-rows-[auto_auto_auto] md:gap-8 md:pt-12 lg:grid-cols-[2fr_1fr] lg:w-11/12 ">
        <nav style="/*! grid-row-start: 1; */" class="gap-4  hidden md:flex row-start-1 row-end-2 lg:col-start-1">
            <a href="#" class=" bg-white object-fit rounded-sm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-6 fill-black">
                    <path
                        d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z">
                    </path>
                    <path
                        d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z">
                    </path>
                </svg>
            </a>
            <p class="text-white md:text-black">Tyrese Cook</p>
        </nav>
        <section style="background: url('{% static '/imgs/customUserProfiles/hero-bkg.jpg' %}'); background-size: cover; background-position-x: 20%;"
            class="w-100 flex flex-col w-full h-[60vh] lg:h-full justify-between md:justify-end p-4 pb-12 no-repeat md:rounded-lg lg:row-start-3">

            <nav style="grid-row-start: 1;" class="gap-4 flex md:hidden">
                <a href="#" class=" bg-white object-fit rounded-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-6 fill-black">
                        <path
                            d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z">
                        </path>
                        <path
                            d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z">
                        </path>
                    </svg>
                </a>
                <p class="text-white">Tyrese Cook</p>
            </nav><!-- Hero Content -->
            <div class="w-9/10 flex flex-col gap-2 text-white" style="text-shadow: -5px 4px black;">
                <p class="font-bold text-lg">The People's</p>
                <p class="font-bold text-5xl font-serif">Digital Craftsman</p>
                <p class="text-lg">Webpages, Booking Sites &amp; More</p>
                <div class="flex gap-4 w-fit mt-4">
                    <a href="tel:3125559789"
                        class=" bg-white object-fit rounded-sm w-10 h-10 flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-6 fill-black">
                            <path fill-rule="evenodd"
                                d="M15 3.75a.75.75 0 0 1 .75-.75h4.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0V5.56l-4.72 4.72a.75.75 0 1 1-1.06-1.06l4.72-4.72h-2.69a.75.75 0 0 1-.75-.75Z"
                                clip-rule="evenodd"></path>
                            <path fill-rule="evenodd"
                                d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                                clip-rule="evenodd"></path>
                        </svg>

                    </a>
                    <a href="mailto:reesesites@gmail.com"
                        class=" bg-white object-fit rounded-sm w-10 h-10 flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-7 fill-black">
                            <path
                                d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z">
                            </path>
                            <path
                                d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z">
                            </path>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/tyrese-c00k" target="_blank"
                        class=" bg-white object-fit rounded-sm w-10 h-10 flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="size-7"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
                            <path
                                d="M100.3 448l-92.9 0 0-299.1 92.9 0 0 299.1zM53.8 108.1C24.1 108.1 0 83.5 0 53.8 0 39.5 5.7 25.9 15.8 15.8s23.8-15.8 38-15.8 27.9 5.7 38 15.8 15.8 23.8 15.8 38c0 29.7-24.1 54.3-53.8 54.3zM447.9 448l-92.7 0 0-145.6c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7l0 148.1-92.8 0 0-299.1 89.1 0 0 40.8 1.3 0c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3l0 164.3-.1 0z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
        <p class="hidden lg:flex text-3xl font-[500] row-start-2">I build systems for small businesses and creators</p>
        <!-- Content Section -->
        <section class="py-12 px-4 flex flex-col gap-12 lg:py-0 lg:row-start-3">

            <p class="text-3xl font-[500] lg:hidden">I build systems for small businesses and creators</p>
            <!-- Header, Subtext, Links -->
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-1">
                    <p class="font-bold  font-serif">Tap In</p>
                    <p class="text-3xl font-[200]">Find me at DripFest 2026</p>
                </div>
                <div class="overflow-x-auto w-full min-h-[50vh] flex gap-4 ">
                    <div id="stack-2" class="flex flex-col gap-4 w-4/5 shrink-0 grow-1 *:rounded-lg ">
                        <div
                            class="bg-[url('{% static "/imgs/customUserProfiles/website-thumbnail.jpg" %}')] bg-cover bg-no-repeat bg-center  h-full w-full flex flex-col justify-end text-white">
                            <div class="p-4 bg-[rgba(0,0,0,0.85)]  rounded-br-lg rounded-bl-lg">
                                <p class="font-bold  font-serif text-lg">Service</p>
                                <p class="text-xl">Need a website?</p>
                            </div>
                        </div>
                        <div
                            class="bg-[url('{% static "/imgs/customUserProfiles/nearfield-thubnail.png" %}')] bg-cover bg-no-repeat bg-center h-full w-full flex flex-col justify-end text-white">
                            <div class="p-4 bg-[rgba(0,104,124,0.85)]  rounded-br-lg rounded-bl-lg">
                                <p class="font-bold font-serif text-lg">Product</p>
                                <p class="text-xl">Digital Business Cards</p>
                            </div>
                        </div>
                    </div>
                    <div class="border-1 flex flex-col gap-6 w-11/12 shrink-0 rounded-lg p-4">
                        <img src="" alt="" class="rounded-lg w-full object-fit h-full bg-black aspect-[1/0.75]">
                        <div class=" flex flex-col gap-1 ">
                            <p class="font-bold  text-lg font-serif">Community Initiative</p>
                            <p class="text-xl">Black-Owned &amp; Proud (UIUC)</p>
                            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit eaque voluptas quae
                                eius
                                laudantium velit numquam excepturi provident dicta nemo consequuntur labore.</p>
                        </div>
                        <a href="#" class="w-full bg-black text-white text-center h-min py-4 rounded-lg">Add my
                            business</a>
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>
</html>